import { {{ componentNamePascalCase }}Actions, {{ componentNamePascalCase }}State } from './types';
import { {{ actionTypesEnumName }} } from './action-types';

export const initialState: {{ componentNamePascalCase }}State = {
    data: null,
};

export default function {{ componentNamePascalCase }}Reducer(state = initialState, action: {{ componentNamePascalCase }}Actions): {{ componentNamePascalCase }}State {
    switch (action.type) {
        case {{ actionTypesEnumName }}.{{ mutationType }}:
            return {
                ...state,
            };
        default:
            return state;
    }
}
