import { Action } from 'redux';
import { {{ mutationType }} } from './action-types';

export interface {{ stateName }} {
}

export type {{ actionTypeName }} = Action<{{ mutationType }}> & {
}

export type {{ moduleNamePascalCase }}Actions = {{ actionTypeName }};
