import { Action } from 'redux';
import { {{ actionTypesEnumName }} } from './action-types';

export interface {{ componentNamePascalCase }}State {
    data: any;
}

export type {{ actionTypeName }} = Action< {{ actionTypesEnumName }}.{{ mutationType }}> & {
}

export type {{ componentNamePascalCase }}Actions = {{ actionTypeName }};
