import { Action } from 'redux';
import { {{ actionTypesEnumName }} } from './action-types';

export interface {{ stateName }} {
    data: any;
}

export type {{ actionTypeName }} = Action< {{ actionTypesEnumName }}.{{ mutationType }}> & {
}

export type {{ moduleNamePascalCase }}Actions = {{ actionTypeName }};
