import React from 'react';
import { expect } from 'chai';
import {{ componentCamelcaseName }} from './{{ componentName }}';

describe('{{ componentName }}', function () {
    it('it exists', function () {
        expect({{ componentCamelcaseName }}).to.be.ok;
    });
});
