import React from 'react';
import { expect } from 'chai';
import {{ componentCamelcaseName }} from './{{ componentName }}';

describe('{{ componentName }}', function {{ componentCamelcaseName }}Spec () {
    it('it exists', () => {
        expect({{ componentCamelcaseName }}).to.be.ok;
    });
});
