import React from 'react';
import { storiesOf } from '@storybook/react';
import centered from '@storybook/addon-centered/react';
import {{ componentCamelcaseName }} from './{{componentName}}';

const stories = storiesOf('{{ componentName }}', module)
    .addDecorator(centered);

stories.add(
    'Default',
    () => (<{{componentCamelcaseName}}/>),
);
