import React from 'react';
import { expect } from 'chai';
import {{ componentNamePascalCase }} from './{{ componentName }}';

describe('Spec {{ componentNamePascalCase }}', function () {
    it('it exists', () => {
        expect({{ componentNamePascalCase }}).to.be.ok;
    });
});
