import React from 'react';
import {{ componentNamePascalCase }}, { {{ componentNamePascalCase }}Props } from './{{componentName}}';

export default {
    title: "{{ componentNamePascalCase }}",
    component: {{ componentNamePascalCase }}
};

export const Default = (props: {{ componentNamePascalCase }}Props) => <{{ componentNamePascalCase }} {...props} />;