import React from 'react';

export type {{ componentNamePascalCase }}Props = {}

export default function {{ componentNamePascalCase }}({}: {{ componentNamePascalCase }}Props) {
    return (<div className="{{ componentName }}"/>);
}
